{% extends 'base.html' %}

{% block title %}SignUp{% endblock %}

{% block customstype %}
<!-- Custom styles for this template -->
<link href="../../static/css/signin/signin.css" rel="stylesheet">
{% endblock %}

{% block nav_signup %}active{% endblock %}
{% block content %}

<div class="container">

  <form action="signup" class="form-signin" method="post">
      {{ form.csrf_token }}
      <h2 class="form-signin-heading">Please sign up</h2>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Username" required autofocus><br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword2" class="sr-only">Confirm Password</label>
      <input type="password" name="inputPassword2" class="form-control" placeholder="Confirm Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>

</div> <!-- /container -->

{% endblock %}
